*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f2f2f2;
  background-color: #a6a6a6;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex {
  display: flex;
  gap: 1rem;
}

.wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  margin: 1rem;
  width: 175px;
  height: 175px;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 0% / 0.5);
}

@supports (backdrop-filter: blur(0.5rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(0.5rem);
  }
}

.primary-navigation a {
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 500;
}

.primary-navigation a:hover {
  color: #f22e2e;
}

.primary-navigation a > span {
  font-weight: 900;
  margin-inline-end: 0.75em;
  color: #f2f2f2;
}

@media (max-width: 35em) {
  .primary-navigation {
    gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url(img/icons8-menu-50.png);
    background-repeat: no-repeat;
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(img/icons8-close-30.png);
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* section {
    width: 100%;
    float: left;
    height: 100vh;
} */

#home,
#about,
#webdev,
#contact {
  width: 100%;
  float: left;
  height: 100vh;
}

.container h2 {
  position: relative;
  top: 20%;
  left: 2%;
  font-size: 3rem;
  font-weight: 500;
}

.about-content {
  position: relative;
  top: 20rem;
  left: 1rem;
  margin-right: 20%;
}

.about-content p {
  font-size: 2rem;
  font-weight: 400;
}

.about-content li {
  font-size: 1.5rem;
  font-weight: 300;
  list-style: none;
  line-height: 150%;
}

#contact--info h3 {
  position: relative;
  top: 10em;
  left: 1em;
  font-size: 2rem;
  color: #0d0d0d;
}

#home h1 {
  position: relative;
  left: 20%;
  top: 35%;
  font-size: 7rem;
}

#home h3 {
  position: relative;
  left: 20%;
  top: 35%;
  font-size: 3rem;
  font-weight: 300;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 10vw);
  grid-gap: 1rem;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

.project__item h3 {
  font-size: 2rem;
  font-weight: 500;
}

.project__item {
  font-weight: 350;
}

.project__item a {
  text-decoration: none;
  font-weight: 400;
  color: #0d0d0d;
}

#project-link {
  font-weight: 400;
  color: #0d0d0d;
}

.project__item a:hover {
  color: #f22e2e;
}

.gallery {
  width: 90%;
  margin: 5rem auto;
  padding: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 10vw);
  grid-gap: 1rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  /* border: 5px solid grey; */
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--8 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--9 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__item--10 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__item--11 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 11;
}

.gallery__item--12 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 11;
}

.gallery__item--13 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 13;
}

.gallery__item--14 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 13;
}

.gallery__item--15 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 13;
}

.gallery__item--16 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 13;
  grid-row-end: 17;
}

.gallery__item--17 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 15;
}

.gallery__item--18 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 13;
  grid-row-end: 15;
}

.gallery__item--19 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 15;
  grid-row-end: 17;
}

.gallery__item--20 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 15;
  grid-row-end: 17;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}

.page-footer p {
  font-size: 2rem;
}

#phone,
#email {
  text-decoration: none;
  color: #0d0d0d;
}

#phone:hover,
#email:hover {
  color: #f22e2e;
}
